* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}


/* navbar start */
/* navbar end */


/* Home section start */
/* Home section end */


/* Book section start */
/* Book section end */


/* Packages section start */
/* Packages section end */



/* Services section start */
/* Services section end */



/* Gallery section start */
/* Gallery section end */


/* About section start */
/* About section end */



/* Footer start */
/* Footer end */
