* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

.scroll-top {
  width: 50px !important;
  height: 50px !important;
  border-radius: 25px !important;
  
  background-color: #ffa500 !important;
  font-weight: 700 !important;
  opacity: 0.6;
}

.scroll-top:hover {
  border: 1px solid black !important;
  opacity: 1;
  transition: 1.5s ease;
  
}


/* navbar start */
/* navbar end */


/* Home section start */
/* Home section end */


/* Book section start */
/* Book section end */


/* Packages section start */
/* Packages section end */



/* Services section start */
/* Services section end */



/* Gallery section start */
/* Gallery section end */


/* About section start */
/* About section end */



/* Footer start */
/* Footer end */
